In [125]:
a = 2
b = 3
c = 10
d = 25
e = 99

In [126]:
if a < b:
    print('a < b')
else:
    print('b < a')

a < b

In [127]:
if a < b:
    if b < c:
        print('a < b < c')
    else:
        print('b > c')
else:
    print('a > b')

a < b < c

In [128]:
if a > b:
    print('a > b')
elif a < c:
    print('a < c')
else:
    print'QQ'

a < c

In [129]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [130]:
for element in l:
    print(element)

1
2
3
4
5

In [131]:
10 % 3

1

In [132]:
18 % 7

4

In [133]:
4 % 2

0

In [134]:
for num in l:
    if num % 2 == 1:
        print(str(num) + ' is odd.')
    elif num % 2 == 0:
        print(str(num) + ' is even.')

1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.

In [135]:
sum = 0
for num in l:
    sum += num
print sum

15

In [136]:
s = 'Fo shizzle my nizzle!'
for char in s:
    print char

F
o

s
h
i
z
z
l
e

m
y

n
i
z
z
l
e
!

In [137]:
tup = (1,2,3,4,5)
for t in tup:
    print t

1
2
3
4
5

In [138]:
l = [(1,3), (3,5), (6,2), (7,5)]
l[0][1]

3

In [139]:
for t in l:
    print t

(1, 3)
(3, 5)
(6, 2)
(7, 5)

In [140]:
for (t1, t2) in l:
    print(t1)

1
3
6
7

In [141]:
d = {'k1':32, 'k2':78, 'k3':87}

In [142]:
for item in d:
    print item

k3
k2
k1

In [143]:
for k,v in d.items():
    print(str(k) + ': ' + str(v))

k3: 87
k2: 78
k1: 32

In [144]:
x = 0

while x < 10:
    print x
    x += 1
else:
    print('All done')

0
1
2
3
4
5
6
7
8
9
All done

In [145]:
x = 0

while x < 10:
    if x > 6:
        break
    elif x <3:
        x += 1
        continue
    else:
        print x
        x +=1

3
4
5
6

In [146]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
range(0, 20, 3)

[0, 3, 6, 9, 12, 15, 18]

In [148]:
x = range(0, 30, 5)

In [149]:
x

[0, 5, 10, 15, 20, 25]

In [150]:
type(x)

list

In [151]:
start = 5
end = 25
step = 3
range(start, end, step)

[5, 8, 11, 14, 17, 20, 23]

In [152]:
x = xrange(1, 10)
x2 = range(1, 10)

In [153]:
type(x)

xrange

In [154]:
type(x2)

list

In [155]:
x2 == list(x)

True

In [156]:
string = 'Fo shizzle my nizzle!'
l1 = []
for letter in string:
    l1.append(letter)
l1

['F',
 'o',
 ' ',
 's',
 'h',
 'i',
 'z',
 'z',
 'l',
 'e',
 ' ',
 'm',
 'y',
 ' ',
 'n',
 'i',
 'z',
 'z',
 'l',
 'e',
 '!']

In [157]:
# List Comprehension
# [mapping-expression for element in source-list if filter-expression]
l2 = [letter for letter in string]
l2

['F',
 'o',
 ' ',
 's',
 'h',
 'i',
 'z',
 'z',
 'l',
 'e',
 ' ',
 'm',
 'y',
 ' ',
 'n',
 'i',
 'z',
 'z',
 'l',
 'e',
 '!']

In [160]:
list = [x**2 for x in range(1, 11)]
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [161]:
list = [x for x in range(11) if x % 2 == 0]
list

[0, 2, 4, 6, 8, 10]

In [164]:
celsius = [0, 10, 20.5, 38.2]
fahrenheit = [(temp * (9/5.0) + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.9, 100.76]

In [167]:
lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]