In [38]:
a = 2
b = 3
c = 10
d = 25
e = 99

In [39]:
if a < b:
    print('a < b')
else:
    print('b < a')

a < b

In [40]:
if a < b:
    if b < c:
        print('a < b < c')
    else:
        print('b > c')
else:
    print('a > b')

a < b < c

In [41]:
if a > b:
    print('a > b')
elif a < c:
    print('a < c')
else:
    print'QQ'

a < c

In [42]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [43]:
for element in l:
    print(element)

1
2
3
4
5

In [44]:
10 % 3

1

In [45]:
18 % 7

4

In [46]:
4 % 2

0

In [47]:
for num in l:
    if num % 2 == 1:
        print(str(num) + ' is odd.')
    elif num % 2 == 0:
        print(str(num) + ' is even.')

1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.

In [48]:
sum = 0
for num in l:
    sum += num
print sum

15

In [49]:
s = 'Fo shizzle my nizzle!'
for char in s:
    print char

F
o

s
h
i
z
z
l
e

m
y

n
i
z
z
l
e
!

In [50]:
tup = (1,2,3,4,5)
for t in tup:
    print t

1
2
3
4
5

In [51]:
l = [(1,3), (3,5), (6,2), (7,5)]
l[0][1]

3

In [52]:
for t in l:
    print t

(1, 3)
(3, 5)
(6, 2)
(7, 5)

In [53]:
for (t1, t2) in l:
    print(t1)

1
3
6
7

In [54]:
d = {'k1':32, 'k2':78, 'k3':87}

In [55]:
for item in d:
    print item

k3
k2
k1

In [57]:
for k,v in d.items():
    print(str(k) + ': ' + str(v))

k3: 87
k2: 78
k1: 32