Python has the datetime module to help deal with timestamps in your code. Time values are represented with the time class. Times have attributes for hour, minute, second, and microsecond. They can also include time zone information. The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be what you want.

# Time

In [1]:
import datetime

We can create a time-stamp by specifying datetime.time(hour,minute,second,microsecond)

In [6]:
t = datetime.time(21, 25, 03)

In [4]:
print t
print t.hour
print t.minute
print t.second
print t.microsecond
print t.tzinfo
print t.min

21:25:03
21
25
3
0
None
00:00:00

In [7]:
bad_time = datetime.time(25, 25, 03)

ValueError: hour must be in 0..23

Note: A time instance only holds values of time, and not a date associated with the time.

We can also check the min and max values a time of day can have in the module:

In [8]:
print 'Earliest  :', datetime.time.min
print 'Latest    :', datetime.time.max
print 'Resolution:', datetime.time.resolution

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

The min and max class attributes reflect the valid range of times in a single day.

# Dates

datetime (as you might suspect) also allows us to work with date timestamps. Calendar date values are represented with the date class. Instances have attributes for year, month, and day. It is easy to create a date representing todayâ€™s date using the today() class method.

In [11]:
today = datetime.date.today()
print today
print 'ctime:', today.ctime()
print 'tuple:', today.timetuple()
print 'ordinal:', today.toordinal()
print 'Year:', today.year
print 'Mon :', today.month
print 'Day :', today.day

2017-06-02
ctime: Fri Jun  2 00:00:00 2017
tuple: time.struct_time(tm_year=2017, tm_mon=6, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=153, tm_isdst=-1)
ordinal: 736482
Year: 2017
Mon : 6
Day : 2

In [12]:
print 'Earliest  :', datetime.date.min
print 'Latest    :', datetime.date.max
print 'Resolution:', datetime.date.resolution

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

Another way to create new date instances uses the replace() method of an existing date. For example, you can change the year, leaving the day and month alone.

In [14]:
d1 = datetime.date(2015, 3, 11)
print 'd1:', d1

d2 = d1.replace(year=1990)
print 'd2:', d2

d1: 2015-03-11
d2: 1990-03-11

# Arithmetic

We can perform arithmetic on date objects to check for time differences. For example:

In [15]:
d1

datetime.date(2015, 3, 11)

In [16]:
d2

datetime.date(1990, 3, 11)

In [17]:
d2 - d1

datetime.timedelta(-9131)

In [18]:
d1 - d2

datetime.timedelta(9131)

This give us the difference in days between the two dates.